.App {
  text-align: center;
}

.gradient {
  background: linear-gradient(90deg, #187BCD 0%, #21D4FD 100%);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #21D4FD;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #187BCD;
}